# Use lower case
APP_NAME=test
BASE_URL=test-app.loc

# Path to entry point from application root folder
# Ex: for Laravel - public
ENTRY_POINT=public

PHP_VERSION=7.4


PORT_NGINX=8066
PORT_PHP_FPM=9066
PORT_DB=3366
PORT_PHPMYADMIN=8067

DB_ROOT_PASSWORD=db_root_password
DB_DATABASE=db_name
DB_USER=db_user_name
DB_PASSWORD=db_user_password
